*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid #f00; */
}

h1,h2,h3,h4,p,span,a{
    font-family: Montserrat, sans-serif;
    padding: 5px;
    line-height:20px;
    text-transform: uppercase;
}

h1{
    line-height: 30px;
    font-size: 25px;
    font-weight: 900;
    padding: 15px;
}

h2{
    line-height: 30px;
    font-size: 18px;
    font-weight: 900;
    padding: 15px;
}

ul{
    /* list-style-type: none; */
}
/* 
ul li{
    display: inline-block;
} */

a{
    text-decoration: none;
}
/* ------start the css ----*/
.wrap{
    width: 100%;
}

.button a{
    font-size: 10px;
    font-weight: 900;
    padding: 5px 0;
    color: #fff;
    border:1px solid #fff;
    transition: all .3s;
}

.button a:hover{
    border:1px solid #000;
    background-color: #fff;
    color: #000;
    opacity: .8;
}

/* ------navagation ----*/
.navagation{
    width: 960px;
    margin: auto;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 960px;
    margin: auto;
}

.nav-bar img{ 
    width: 150px;
    height: 30px;
    margin: 5px;
}

.nav-inner{
    display: flex;
    align-items: center;
    flex: 8%;
}

.nav-inner ul{
    list-style-type: none;
}

.nav-inner ul li{
    display: inline-block;
}

.nav-inner ul li a{
    font-size: 11px;
    text-align: center;
}

.nav-member{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
}


.search input{
    background-color: #fff;
    width: 100px;
    height:24px;
    margin-right:0px;

} 

.search a{
    color: #fff;
    font-weight: 600;
    font-size: 12px ;
    transition: all .3s ease-out;
}


.search i{
    padding: 11px;
}


.search a:hover{
    background-color: #0095cc;
}


.search .icon-button{
    width: 70px;
    margin: auto;
    margin-left: -5px;
    padding: 7px 0px;
    border-radius:3px;
    color: #fff;
    background-color:#000;
    font-weight: 600;
    font-size: 9px ;
    transition: all .3s ease-out;
}

.cart{
    width: 95px;
}


.cart .icon-button {
    background-color: #00baff;
}

.cart .icon-button span{
    width: 50px;
    height: 50px;
    padding: 7px 9px;
    color: #000;
    background-color: #f5f5f5;
}

.car .num-box{
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
}

.search a{
    
    color:#000;
}

/* ------banner-1----*/
.banner-1{
    position: relative;
    width: 100%;
    color: #fff;
}

.banner-1 .banner-img{
    width: 960px;
    margin: auto;
    
}

.banner-1 img{
    /* background: url(images/asset 8.png); */
    width: 960px;
    background-size: 100%;
    cursor: -webkit-grab; cursor: grab;
}

.banner-title {
    width:500px;
    position: absolute;
    right: 0px;
    bottom: 100px;
    left: 400px;
    margin: auto;
}

.banner-title h1{
    width: 150px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 900;
    padding: 15px;
    padding-left: 0;
}

.banner-title p{
    display: flex;
    flex-direction: row;
    font-weight: 900;
    font-size: 80px;
    padding-bottom: 15px;
}

.banner-title span{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    margin: 10px 0;
}

.banner-title span:nth-last-child(1){
    margin-top: -5px;
}

.banner-title span sup{
    font-size: 40px;
    vertical-align: super;
}


.banner-title span sub{
    margin-top: 12px;
    font-size: 40px;
    vertical-align:sub;
}

.banner-title .button a{
    font-size: 10px;
    font-weight: 900;
    padding: 10px;

    color: #fff;
    border:1px solid #fff;
    transition: all .3s;
}

.banner-title .button a:hover{
    border:1px solid #000;
    background-color: #fff;
    color: #000;
    opacity: .8;
}

/* ------banner-1----*/


/* ------category----*/
.category{
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: auto;
}

.category-item{
    position: relative;
    flex:30%;
    /* transition: all .5s; */
}

.category-item .category-text{
    position: absolute;
    top:120px;
    left:30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all .3s;
}

.category-item:hover .category-text{
    top:60px;
}


.category img{
    width: 300px;
    height: 340px;
    margin: 15px 10px;
}

.category h2{
    width: 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding-left: 0;
}

.category h2:hover{
    color: #3d9bef;
}

.category-list{
    padding-bottom: 20px;
    opacity:0;
    transition: all .6s ease;
}


.category-item:hover .category-list{
    opacity: 1;
}

.category-list ul li{
    padding: 5px 0;
}

.category-list ul li:nth-child(4){
    margin-bottom: 20px;
}

.category-list a{
    color: #fff;
    font-size: 8px;
}

.category-list a:hover{
    color: #3d9bef;
}

.category-text .button {
    transform: translateZ(0);
    animation: hvr-push .3s ease 1;
}


.category-text .button a{
    background-color: #3d9bef;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transform: translateZ(0);
}


.category-text:hover .button a{
   opacity: 1;
   animation:hvr-push .3s ease 1;
}

.category-text .button a:hover{
    background-color: #000;
    opacity: 1;
    /* transform: translateZ(0);
    animation:hvr-push .3s ease 1; */
}

/* ------category----*/



/* ------brand----*/
.brand{
    display: flex;
    flex-direction: row;
    width: 960px;
    margin:auto;
}

.brand img{
    width: 140px;
    height: 50px;
    padding: 5px;
    opacity: .5;
    
}

.brand img:hover{
    transform: rotate3d(0,1,0,-360deg);
    opacity: 1;
    transition: transform .6s ease-in,opacity .4s ease;
    
}

/* ------brand----*/


/* ------product----*/
.product{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 960px;
    margin: auto;
}

.product-title{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 100%;
}

.product-title h3{
    font-size: 14px;
    font-weight: 900;

}


.product-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.product-inner{
    width: 230px;
    margin: 0 5px;
}

.product-container .product-item{
    padding-top: 20px;
}

.product-item .product-img{
    background: url(../images/asset\ 20.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}


.product-item .product-img:hover{
    background: url(../images/asset\ 21.jpeg);
    background-size: 102%;
}


.product-item .img-02{
    background: url(../images/asset\ 22.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}


.product-item .img-02:hover{
    background: url(../images/asset\ 23.jpeg);
    background-size: 102%;
}

.product-item .img-03{
    background: url(../images/asset\ 24.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}



.product-item .img-04{
    background: url(../images/asset\ 25.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}

.product-item .img-04:hover{
    background: url(../images/asset\ 26.jpeg);
    background-size: 102%;
}



.product-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price a{
    font-size: 10px;
    padding-left: 0;
    white-space: nowrap;
}

.product-price a:hover{
    color: #3d9bef;
    transition: all .3s;
}

.price-title{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    width: 100px;
    padding-bottom: 20px;
}


.price-title span{
    font-weight: 900;
}

.price-icon{
    width: 120px;
}
/* ------product----*/



/* ------banner-2----*/
.bt-2{
    width: 280px;
}

.banner-2 .bt-2 h4{
    padding: 20px 0;
}

.banner-2 span{
    font-size: 120px;
}


.banner-2 span sup{
font-size: 62px;
}

.banner-2 span sub{
    font-size:30px;
    padding-top: 15px;
    }
/* ------banner-2----*/

/*-----product-2----*/
.pos-r{
    position: relative;
}

.new::before{
    content: "new";
    position: absolute;
    top: 50px;
    left: 176px;
    width: 50px;
    height: 21px;
    padding: 2px;
    line-height: 17px;
    font-size: 10px;
    text-align: center;
    background-color: #3d9bef;
    color: #fff;
    text-transform: uppercase;
}

.product-item .img-05{
    background: url(../images/asset\ 38.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}


.product-item .img-05:hover{
    background: url(../images/asset\ 39.jpeg);
    background-size: 102%;
}


.product-item .img-06{
    background: url(../images/asset\ 40.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}


.product-item .img-06{
    background: url(../images/asset\ 41.jpeg);
    background-size: 102%;
}

.product-item .img-03{
    background: url(../images/asset\ 42.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}



.product-item .img-07{
    background: url(../images/asset\ 43.jpeg);
    width: 100%;
    height: 230px;
    background-size: 102%;
    transition: all .3s ease;
}

.product-item .img-07:hover{
    background: url(../images/asset\ 44.jpeg);
    background-size: 102%;
}



/*-----product-2----*/

/* ------sale----*/
.sales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 960px;
    margin:40px auto;
}



.sales-item{
    flex:40%;
    margin: 0 10px;
    background: url(../images/asset\ 47.jpeg);
    width: 470px;
    height: 270px;
    background-size:113%;
}

.sales-item2{
    flex:40%;
    margin: 0 10px;
    background: url(../images/asset\ 48.jpeg);
    width: 470px;
    height: 270px;
    background-size: 113%;
}

.sales-item .sl,.sales-item .sl2{
    position: absolute;
    width: 230px;
    left: -255px;
}

.sales-item .sl2{
    left:700px;
}

.sales-item .sl span.sales-item .sl2 span{
    display: flex;
    flex-direction: row;
    font-size: 50px;
}



.sales-item .sl span sup.sales-item .sl2 span sup{
    font-size: 41px;
    margin-top: 15px;
}

.sales-item .sl span sub.sales-item .sl2 span sub{
    font-size: 42px;
    margin-top: 15px;
}

.sl .button a,.sl2 .button a{
    background-color: #3d9bef;
    color: #fff;
    border: none;
    padding: 12px 20px;
    transform: translateZ(0);
    text-transform: initial'
}


.sl:hover .button a,.sl2:hover .button a{
   opacity: 1;
   animation:hvr-push .8s ease 1;
}

.sl .button a:hover,.sl2 .button a:hover{
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    opacity: 1;
}



/* ------sale----*/

/* ------news----*/

.news{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:url(../images/asset\ 52.jpeg);
    background-attachment: fixed;
    width: 960px;
    margin:auto;
    padding: 40px 0;

}

.news h3,.news p,.news span,.news i{
    color: #fff;
}

.news h3{
    width: 215px;
    font-size: 18px;
    font-weight: 900;
    padding-bottom:18px;
    transition: all .3s;
}

.news h3:hover{
    color: #3d9bef;
}

.news p{
    font-size: 12px;
}

.news p span{
    font-size: 5px;
    font-weight: 100;
}

.news-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 960px;
    margin:auto;
}

.news-item{
    position: relative;
    flex:30%;
    /* transition: all 1s ease; */
}

.news-item .news-img{
    width: 300px;
}

.news-img  img{
    width: 100%;
    filter: grayscale(1) blur(.5px);
    transition: all 1s ease;
}

.news-img:hover  img{
    width: 100%;
    filter:none;
}

.news-item .news-text{
    position: absolute;
    bottom:-15px;
    transition: all 1s ease;
}

.news-item:hover .news-text{
    position: absolute;
    bottom: 25px;
}



/* ------news----*/




/* ------footer----*/

/* ------footer----*/


/* *{
    outline: none;
} */
