@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

*{
/*	outline: 1px solid #f00;*/
	margin: 0;
	padding: 0;
	margin: 0 auto;
}

body{
	color: #67727A;
	font-family: 'Alegreya Sans',sans-serif;
	margin: 0;
}

h1{
	font-family: 'Alegreya Sans'sans-serif;
	font-size: 200%;
	color: #f5f5f5;
	background-color:#151515;
	font-weight: 700;
	text-align: center;
	padding:2%;
}

h4{
	font-family: 'Alegreya Sans'sans-serif;
	font-size: 200%;
	color: #fff;
	font-weight: 700;
	text-align: center;
	padding:2%;
}


p{
	font-family: 'Alegreya Sans'sans-serif;
	font-size: 120%;
	line-height: 150%;
	color: #fff;
	font-weight:100;
	text-align: justify;
	text-indent: 2%;
	padding:3%;
}

img{
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}

header{
/*	z-index: 1000;
	position: fixed;*/
	background-color: #111111;
	width: 100%;
	height: 60px;
}

.clearfix{
	width: 100%;
	height: 0;
	clear: both;
}


.header-inner{
	max-width: 1200px;
	margin: 0 auto;
}

.header-inner img{
	position: absolute;
	left: 0px;
	margin: 10px;
	margin-left: 30px;
	float: left;
	width: 50px;
	height: 50px;
}

/*--Start Navgation--*/
nav{
	float:right;
	padding: 10px;
}



#menu-icon{
	width: 40px;
	height: 40px;
	background:url(img/nav.png) center;
}

a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}

nav ul li{
	font-family: 'Alegreya Sans'sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding:5px 20px 0 20px;
}

nav ul li a{
	color:#F5F5F5;
	text-decoration:none;
	transition: all 0.8s;
}

nav ul li a:hover{
	text-shadow: 2px 2px #F5F5F5;
	color: #D8D8D8;
	border: 1px solid #F5F5F5;
	padding: 10px;
	border-radius: 5px;
}


ul{
	list-style-type: none;
}

/*--End of navgation--*/
.watch1{
	width: 100%;
	height:auto;
	background-color: #424242;
	display: inline-block;
}

.watch1_pic{
	float: left;
	width: 50%;
    float: left;
    transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    position: relative;
    overflow: hidden;

}

.watch1_pic img{
	max-width: 100%;
    transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;

}

.watch1_pic:hover img{
	transform: scale(1.8);
}




.watch1 p{
	padding: 21px;
	letter-spacing: 0.1em;
	margin-top: 30px;
	background-color: #424242;
	font-weight:100;
	text-align: justify;
}


.watch1 a{
	position: relative;
    left: 39%;
	font-family: 'Alegreya Sans'sans-serif;
	text-decoration: none;
	color: #fff;
    padding: 10px 28px;
    border: 1px solid #fff;
    margin: 0 auto;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.watch1 a:hover{
		color: #5f5f5f;
	    border: 1px solid #2E2E2E;
	    background-color: #2E2E2E;
	}
/*end of watch1*/

.goods-region{
	width: 100%;
	margin: auto;
}

.goods_list{
	width: 80%;
	margin: auto;
	text-align: center;
	color: #171c22;
	padding: 65px 0px;
	margin: auto;
}

.goods-content{
	margin: 30px 10px;

	
}
.goods-content img{
	display: block;
	width: 100%;
}



.goods-img{
	display: inline-block;
	width: 28%;
	margin:0 2% 2% 2%;
	position: relative;
	overflow: hidden;
    display: inline-block;
    transition: all 0.8s;
}

.goods-img:hover img{
	display: block;
	transform: scale(1.08);
}



.portfolio-content{
	opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
	position: absolute;
	top: -5px;
	transition: .5s;
	overflow: hidden;
    display: inline-block;
}

.portfolio-content:hover {
	opacity: 0.5;
	background-color: #000;
}



.portfolio-detail{
	width: 100%;
/*	height: 100%;*/
}


.portfolio-text{
/*    vertical-align: middle;*/
	margin-top: 18%;
    padding: 0 15px;
    color: #fff;
    letter-spacing: 0.2em;
    transition: .5;
}

.portfolio-text p{
	text-align: center;
}

.portfolio-detail a{
	text-align: center;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1200px) {
	.watch1{
	width: 100%;
	height:auto;
	background-color: #424242;
	display: inline-block;
}

.watch1_pic{
	float: left;
	width: 100%;
    float: left;
    transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    position: relative;
    overflow: hidden;

}

.watch1_pic img{
	max-width: 100%;
    transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;

}

.watch1_pic:hover img{
	transform: scale(1.8);
}




.watch1 p{

	margin: 60px;
	background-color: #424242;
	font-weight:100;
	text-align: justify;
}


.watch1 a{
	position: relative;
    left: 43%;
    bottom: 50px;
	font-family: 'Alegreya Sans'sans-serif;
	text-decoration: none;
	color: #fff;
    padding: 10px 28px;
    border: 1px solid #fff;
    margin: 0 auto;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.watch1 a:hover{
		color: #5f5f5f;
	    border: 1px solid #2E2E2E;
	    background-color: #2E2E2E;
	}
}


@media screen and (max-width: 768px) {

	#menu-icon{
		display:inline-block;
		margin-right: 30px;
	}

	nav ul,nav:active ul{
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 10px 20px 10px 0;
		background:#111111;
		right: 20px;
		top: 60px;
		border:1px solid #FFF;
		border-radius: 10px 0 10px 10px;
		width: 50%;
	}

	nav:hover ul{
		display: block;
	}
	nav li{
		text-align: center;
		width: 100%;

	}

	nav ul li a{
		color:#F5F5F5;
		text-decoration:none;
		transition: all 0.8s;
	}

	nav ul li a:hover{
		text-shadow: 2px 2px #F5F5F5;
		color: #D8D8D8;
		border: 1px solid #F5F5F5;
		padding: 10px 30% 10px 30%;
		border-radius: 5px;
	}


	.box{
	float: left;
	width: 100%;
    float: left;
    transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    position: relative;
    overflow: hidden;

}

.goods-img {
	width:100%;
}