*{
    margin: 0;
    padding: 0;
    outline: 1px solid #f00;
}


h1,span,p{
    font-family:Roboto, sans-serif;
}

.clearfix{
    height: 0;
    clear: both;
}


.navagtion{
    width: 100%;
}

.navagation img{
    float: left;
    width: 150px;
    height: 50px;
}

.navagation .menu{
    float: right;
    width: 115px;
    background: #000;
}

.menu a span{
    float: left;
    font-size: 14px;
    padding: 18px;
    color:#fff;
}

.menu .menu_bar .three_line{
    float: left;
    margin-top: 10px;
    
}

.menu .menu_bar{
    width: 30px;
    margin: auto;
    
    
}

.three_line .line{
    width:25px;
    height:3px;
    margin:5px 0;
    background: #fff;
    transition: all 1.2s ease;
}


.menu_bar>.three_line>.line:nth-of-type(3){
    width: 20px;
    height: 3px;
    margin:5px 0;
    background: #fff;
}


.menu_bar:hover>.three_line>.line:nth-of-type(1){
    width: 50%;
}



.menu_bar:hover>.three_line>.line:nth-of-type(3){
    width:25px;
    height: 3px;
    margin:5px 0;
    background: #fff;
}

.banner{
    width: 100%;
    height: 100%; 
}

.banner img{
    width: 70%;
    margin-left: 30%;
}

.wrap_portfolov{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.portfolo{
    background-color: #000;
    padding: 5% 0 8% 0;
}

.portfolo h1{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 900;
}

.portfolo p{
    width: 40%;
    margin: auto;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.wrap_photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.photo_container{
    position: absolute;
    top: 370px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 500px;
    margin: auto;
    background-color: #aaa;
}

.photo_item{
    /* width: 300px; */
    /* position: relative; */
    /* overflow: hidden; */
    /* transition: all .3s; */
}


/* .photo_item:hover{
    transform: scale(1.1);
} */

/* .photo_container .photo_text{
    position:absolute;
    top: 0;
    margin: auto;
    width:300px;
    height:180px;
    background-color: rgba(0,0,0,.7);
    z-index: 3;
    transition: all .3s;
    display: none;
} */

.photo_container .photo_text:hover{
    display: block;
}



.photo_container a .photo_img{
    position: relative;
    width: 300px;
    overflow: hidden;
}

.photo_container a .photo_img img{
    /* width: 300px; */
    width: 100%;
    transition: all .3s;
}

.photo_container a .photo_img:hover img{
    transform: scale(1.1);
}
/* .photo_container a .photo_img:hover>img{
    transform: scale(1.1);
} */

.photo_container a .photo_text{
    position: absolute;
    top: 182px;
    z-index: 2;
    width: 300px;
    height: 181px;
    background-color: #000;
    transition: all .3s ease;
    margin-top: -183px;
    opacity: 0;
}

.photo_container a:hover .photo_text{
    opacity:.5;
}

